[submodule "pack/vendor/start/SimpylFold"]
	path = pack/vendor/start/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "pack/vendor/start/ale"]
	path = pack/vendor/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/vendor/start/ctrlp.vim"]
	path = pack/vendor/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "pack/vendor/start/nerdtree"]
	path = pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/vendor/start/vim-dispatch"]
	path = pack/vendor/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "pack/vendor/start/vim-fugitive"]
	path = pack/vendor/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/vendor/start/vimtex"]
	path = pack/vendor/start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "pack/vendor/start/vim-surround"]
	path = pack/vendor/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/vendor/start/vim-repeat"]
	path = pack/vendor/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "pack/vendor/start/vim-commentary"]
	path = pack/vendor/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/vendor/opt/YouCompleteMe"]
	path = pack/vendor/opt/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "pack/vendor/start/copilot.vim"]
	path = pack/vendor/start/copilot.vim
	url = https://github.com/github/copilot.vim.git
[submodule "pack/vendor/opt/copilot.vim"]
	path = pack/vendor/opt/copilot.vim
	url = https://github.com/github/copilot.vim.git
[submodule "pack/vendor/start/gruvbox"]
	path = pack/vendor/start/gruvbox
	url = https://github.com/gruvbox-community/gruvbox.git
[submodule "pack/vendor/start/ultisnips"]
	path = pack/vendor/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "pack/vendor/start/tabular"]
	path = pack/vendor/start/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "pack/vendor/opt/vim-airline"]
	path = pack/vendor/opt/vim-airline
	url = ssh://git@github.com/vim-airline/vim-airline.git
[submodule "pack/vendor/opt/vim-airline-themes"]
	path = pack/vendor/opt/vim-airline-themes
	url = ssh://git@github.com/vim-airline/vim-airline-themes.git
[submodule "pack/vendor/opt/lualine.nvim"]
	path = pack/vendor/opt/lualine.nvim
	url = ssh://git@github.com/nvim-lualine/lualine.nvim.git
[submodule "pack/vendor/opt/vim-tpipeline"]
	path = pack/vendor/opt/vim-tpipeline
	url = ssh://git@github.com/vimpostor/vim-tpipeline.git
[submodule "pack/vendor/start/orgmode-fork"]
	path = pack/vendor/start/orgmode-fork
	url = ssh://git@github.com/MarkSverdlov/orgmode.git
[submodule "pack/vendor/start/vim-black"]
	path = pack/vendor/start/vim-black
	url = git@github.com:EgZvor/vim-black.git
